<div class="wrapper">
  <div id="img-tooltip" class="img-tooltip"></div>

  <span id="more-info" class="btn-more-info">
    <img src="<%= require('./assets/icons/info.svg') %>">
  </span>

  <div id="section-how-to" class="section section--no-pad-x min-h-xs accordion">
    <label class="mb-2">
      <div class="flex items-center w-full px space-x-xs">
        <span>Public Sheet Steps:</span>
        <span id="publish-status" class="text-sm"></span>
      </div>
    </label>

    <div class="slider steps">
      <div class="slider-item">
        <div class="step" data-step="Click Share">
          <img draggable="false" src="<%= require('./assets/images/step-1.png') %>">
        </div>
      </div>
      <div class="slider-item">
        <div class="step" data-step="Change to anyone">
          <img draggable="false" src="<%= require('./assets/images/step-2.png') %>">
        </div>
      </div>
      <div class="slider-item">
        <div class="step" data-step="Done">
          <img draggable="false" src="<%= require('./assets/images/step-3.png') %>">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div id="section-sheets-url" class="section min-h-xs">
    <div class="w-full flex flex-col">
      <label>
        <div class="flex items-center space-x-xs">
          <span>Google Sheets Url:</span>
          <span id="sheet-url-valid" class="text-sm"></span>
        </div>
      </label>

      <div class="w-full flex items-center form-group">
        <img class="flex-none g-sheets-logo" src="<%= require('./assets/images/g-sheets.svg') %>">

        <input id="api-url" class="flex-1 input-url" value="" placeholder="https://docs.google.com/spreadsheets/...">

        <div class="btns-actions">
          <button id="btn-re-check-link" tooltip="Re-check link" class="flex-none btn-check-link icon-only flat-success text-light"></button>
          <button id="preview-data" tooltip="Advanced Mode" class="flex-none btn-preview icon-only flat text-light"></button>
        </div>
      </div>

      <!-- <div class="flex items-center space-x-sm mt-2">
        <span class="text-sm" tooltip="Click to enable/disable sheets">Sheets:</span>

        <div id="sheets-selector" class="slider w-full flex items-center space-x-xs overflow-y-hidden overflow-x-auto overflow-hide-scrollbar">
          <div class="inline-flex items-center">
            <input type="checkbox" id="check-sheet-1" class="check-sheet m-0" name="check-sheet" value="check-sheet-1" checked>
            <label for="check-sheet-1">HTML</label>
          </div>
          <div class="inline-flex items-center">
            <input type="checkbox" id="check-sheet-2" class="check-sheet m-0" name="check-sheet" value="check-sheet-2" checked>
            <label for="check-sheet-2">HTML</label>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <hr>

  <!-- <div id="section-advanced" class="section min-h-xs">
    <div class="flex items-center space-x">
      <label>
        <span class="flex-none">
          Advanced:
        </span>
      </label>

      <div class="flex flex-col">
        <div class="flex items-center">
          <div class="flex items-center space-x-xs">
            <span>Title</span>
            <span>This is a title</span>
          </div>
          <div class="flex items-center space-x-xs">
            <span>Rows</span>
            <span>4</span>
          </div>
          <div class="flex items-center space-x-xs">
            <span>Columns</span>
            <span>9</span>
          </div>
        </div>

        <select name="sheet-select" id="sheet-select" class="sheet-select" placeholder="Select Sheet">
          <option value="sheet1">Sheet 1</option>
          <option value="sheet2">Sheet 2</option>
        </select>
      </div>
    </div>
  </div>

  <hr> -->

  <div id="preview-section" class="section preview-section section--no-pad-x section--no-pad-y accordion accordion-collapsed">
    <div id="tabs-main" class="tabs">
      <input type="radio" class="tab tab-1 tab-preadsheet" name="tabs" id="tabSpreadsheet" checked/>
      <label for="tabSpreadsheet">Spreadsheet</label>
      <input type="radio" class="tab tab-2 tab-json" name="tabs" id="tabJson"/>
      <label for="tabJson">JSON</label>

      <div class="tab-content-holder tab-content-holder-border">
        <div class="tab-content tab-content-1 tab-content-spreadsheet">
          <div class="tab-content-inner">
            <div id="table-info" class="table-info flex items-center">
              <div id="spreadsheet-title" class="spreadsheet-title font-bold mr-auto"></div>

              <div class="table-info-rename flex items-center space-x-sm">
                <div class="flex items-center space-x-xs combo-single">
                  <span class="mouse-click"></span>
                </div>
                <span class="text">/</span>
                <div class="flex items-center space-x-xs combo-multi">
                  <span class="hotkey">SHIFT</span>
                  <span class="text">+</span>
                  <span class="mouse-click"></span>
                </div>
              </div>

              <!-- <div class="table-info-layer-needs-selection flex items-center space-x-xs">
                <span class="text">(select only</span>
                <span class="hotkey">1 LAYER</span>
                <span class="text">to be able to click on a table cell to rename it)</span>
              </div> -->
            </div>

            <div id="data-table-holder" class="data-table-holder"></div>
          </div>
        </div>

        <div class="tab-content tab-content-2 tab-content-json">
          <div class="tab-content-inner">
            <div id="code-preview-holder" class="code-preview-holder"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div id="section-message" data-step="Step 1" class="flex items-center justify-center section min-h-sm bg-neutral">
    <div id="nodes-selected-info" class="nodes-selected-info flex flex-col hidden space-y-xs">
      <div class="flex space-x-xs">
        <span class="font-bold">Sub Layers:</span>
        <span class="nodes-count"></span>
      </div>

      <hr class="sep-alt">

      <div class="flex space-x-xs">
        <span class="font-bold">Total Layer Changes:</span>
        <span class="total-layer-changes"></span>
      </div>

      <hr class="sep-alt">

      <div class="flex flex-col">
        <div class="layers-to-change flex flex-col text-sm"></div>
      </div>
    </div>

    <div class="layers-info flex flex-col">
      <div id="title" class="flex flex-col items-center text-base font-bold space-y-sm">
        <div class="flex items-center relative">
          <div class="count relative flex items-center justify-center text-lg font-bold text-center transition-fix">
            <span>0</span>
            <div class="total-layer-changes hidden" tooltip="Amount of changes per '#' prefix"></div>
          </div>
        </div>
        <span class="text-lg text-center message transition-fix"></span>
      </div>
      <div id="subtitle" class="text-sm font-bold text-center opacity-50"></div>
    </div>
  </div>

  <hr>

  <!-- <div class="section min-h-xxs">
    <label for="checkbox-override">
      <span>Reset All Override:</span>
      <input id="checkbox-override" type="checkbox" class="checkbox-override" value="">
    </label>
  </div>

  <hr> -->

  <div id="section-sync" class="flex items-center justify-center section space-x">
    <button id="sync" class="flat">Sync</button>
  </div>

  <div id="more-info-modal" class="modal-wrapper">
    <div class="modal-overlay"></div>

    <div class="modal flex flex-col">
      <button class="btn-close-modal basic icon-only">
        <img src="<%= require('./assets/icons/close.svg') %>">
      </button>

      <div class="modal-content flex flex-col items-center space-y">
        <a href="https://www.figma.com/community/plugin/966291261554174793/Spreadsheet-Sync" target="_blank" class="flex flex-col items-center space-y-sm">
          <div class="flex flex-col items-center">
            <p class="text-lg text-brand font-bold">Spreadsheet Sync</p>
            <p class="text-neutral">Figma Plugin</p>
          </div>

          <img class="logo-img" src="<%= require('./assets/images/logo.svg') %>" alt="Spreadsheet Sync - Figma Plugin">
        </a>

        <div class="flex flex-col text-center">
          <p><strong>Thank you</strong> for using this plugin!</p>
          <p>Made by <a class="p-0 text-figma" href="https://twitter.com/aPinix" target="_blank" rel="nofollow">André Pinto (@aPinix)</a></p>
          <p>with ❤️ from <strong>Portugal</strong>!</p>
        </div>

        <!-- <a href="https://apinix.gitbook.io/figma-spreadsheet-sync/" target="_blank" class="outline">Documentation</a> -->

        <hr>

        <div class="flex flex-col items-center space-y-sm">
          <a href="https://twitter.com/aPinix" target="_blank" rel="nofollow"><img src="https://camo.githubusercontent.com/6b9340a91aafbcd1ec3605710dddf884ba36ce0ed3350fc914f4ddc4da7c8dc2/68747470733a2f2f696d672e736869656c64732e696f2f747769747465722f666f6c6c6f772f6150696e69783f6c6162656c3d466f6c6c6f77" alt="Twitter Follow" data-canonical-src="https://img.shields.io/twitter/follow/aPinix?label=Follow" style="max-width: 100%;"></a>
          <a class="donate-btn" href="https://www.buymeacoffee.com/apinix" target="_blank">
            <img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- svg resize -->
  <svg id="corner-resize" class="corner-resize hidden" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16 0V16H0L16 0Z" fill="white"/>
    <path d="M6.22577 16H3L16 3V6.22576L6.22577 16Z" fill="#8492A6"/>
    <path d="M11.8602 16H8.63441L16 8.63441V11.8602L11.8602 16Z" fill="#8492A6"/>
  </svg>

  <!-- <div id="loading-layers-modal" class="modal-wrapper loading-layers-modal">
    <div class="modal-overlay"></div>

    <div class="modal modal-hollow flex flex-col">
      <div class="flex flex-col items-center justify-center">
        <div class="counter-center flex text-xl font-bold">
          <span id="nodes-count">2</span>
          <span class="dash text-light-dim">/</span>
          <span id="total-nodes">461</span>
        </div>

        <div id="loading" class="loading">
          <div class="loading-percentage"></div>
        </div>
      </div>
    </div>
  </div> -->
</div>
