// colors --------------------

$color-text: #333;
$color-icon: #A1AFBF;

$color-gray-medium: #C0CCDA;

$color-neutral: #C0CCDA;
$color-info: #32AFED;
$color-success: #5FD3A2;
$color-success-code: #96EA00;
$color-warning: #FFB72D;
$color-error: #FF522D;
$color-error-code: #EF681A;

$color-brand: #5BA551;
$color-gsheets: #34A853;
$color-figma: #18A0FB;

$color-separator: #F1F1F1;

$color-disabled-bg: #C0CCDA;
$color-disabled-text: #8492A6;

$color-json-string: #FFCD00;
$color-json-number: #00C4FD;
$color-json-boolean: #A389F4;
$color-json-null: #545D6A;
$color-json-key: #F1F1F1;
$color-json-quotes: #C0CCDA;
$color-json-bg: #1F2D3D;



// vars --------------------

$step-img-size: 90px;
$border-radius-sm: 3px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-xl: 10px;
$color-tab-spreadsheet: rgba(242, 245, 248, .8);
$shadow-lg: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$transition: all 0.2s ease-in-out;
$modal-animation-time: 0.3s;



// base --------------------

*,
*:before,
*:after {
  box-sizing: border-box;
  // transition: $transition;
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $color-text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// reset --------------------

p {
  margin: 0;
}



// wrapper --------------------

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



// buttons/input --------------------

input:not([type="checkbox"]),
button {
  height: 30px;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
}

input,
button {
  outline: none;
  transition: all 0.20s ease-in-out;
}

a,
button {
  min-width: 30px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &.icon-only { width: 30px; padding: 0; justify-content: center; }

  &.btn-raw { min-height: auto; max-height: auto; padding: 0; }

  &.size-xs,
  input:not([type="checkbox"]).size-xs { min-height: 16px; height: 16px; padding: 0 10px; }

  &.size-sm,
  input:not([type="checkbox"]).size-sm { min-height: 20px; height: 20px; }

  &:not(:disabled) {
    &.basic {
      border-radius: $border-radius-sm;
      background-color: transparent;

      &:hover { background: #F0F0F0; }
      &:active { background: darken(#F0F0F0, 10%); }
    }

    &.icon-only {
      justify-content: center;
      padding: 0 !important;
    }

    &.flat {
      color: white;
      background: $color-figma;

      &:focus { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3); }
      &:hover { background: darken($color-figma, 10%); }
      &:active { background: darken($color-figma, 20%); }
    }

    &.flat-success {
      color: white;
      background: $color-success;

      &:focus { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3); }
      &:hover { background: darken($color-success, 10%); }
      &:active { background: darken($color-success, 20%); }
    }

    &.outline {
      color: black;
      background: white;
      border-radius: $border-radius-md;
      box-shadow: inset 0 0 0 1px black;

      &:focus { box-shadow: inset 0 0 0 1px darken($color-figma, 15%); }
    }
  }

  &:disabled {
    border: none;
    background: $color-disabled-bg;
    color: $color-disabled-text;
    cursor: not-allowed;
  }
}

select,
input {
  &:not([type="checkbox"]) {
    height: 30px;
    border: none;
    padding: 0 15px;
    box-shadow: inset 0 0 0 1px rgba(black, .1);

    &:hover { box-shadow: inset 0 0 0 1px rgba(black, .3); }
    &:focus { box-shadow: inset 0 0 0 1px darken($color-figma, 15%); }
  }
}

select {
  padding: 0 10px !important;
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
}

label {
  font-size: 11px;
  font-weight: bold;
  display: flex;
  flex-direction: column;

  span {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }
}



// custom buttons --------------------

.donate-btn {
  width: 150px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: $border-radius-md;
  overflow: hidden;
  // transform-origin: right;
  // transform: scale(0.8);

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.btns-actions {
  display: flex;
  align-items: center;

  > * {
    margin: 0 !important;
  }

  button {
    border-radius: 0;
  }

  > *:last-child {
    button {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.btn-more-info {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 8;

  img {
    width: 16px;
    height: 16px;
  }
}

.btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-check-link,
.btn-preview {
  &:before {
    content: '';
    // padding: 3px;
    display: inline-flex;
    font-size: 20px;
    // margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.btn-preview {
  &:before {
    width: 18px;
    height: 18px;
    background-image: url('assets/icons/visible-light.svg');
  }

  &.invisible {
    &:before { background-image: url('assets/icons/hidden-light.svg'); }
  }
}

.btn-check-link {
  border-radius: 0;

  &:before {
    width: 14px;
    height: 14px;
    background-image: url('assets/icons/reload-light.svg');
  }

  &.checking {
    &:before { animation: 1s linear infinite rotateAnim; }
  }
}

.btn-re-check-link,
.btn-copy-to-clipboard {
  margin-left: 6px;
  margin-bottom: 0;
  color: $color-icon;
  cursor: pointer;
  transition: all 0s ease-in-out !important;

  &:hover { color: $color-brand; }
  &:active { color: darken($color-brand, 10%); }

  img {
    width: 12px;
    height: 12px;
    display: inline-block;
    object-fit: contain;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

.btn-copy-to-clipboard {
  position: absolute !important;
  right: 10px;
  top: 10px;
  margin: 0 !important;
}



// tabs --------------------

.data-table-holder,
.code-preview-holder {
  flex: 1;
}

.tabs {
  $tab-height: 40px;
  $tab-content-padding: 20px;
  $tab-content-min-height: 200px;
  height: 100%;
  display: flex;
  position: relative;

  > .tab {
    display: none;
    cursor: pointer;

    + label {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      display: inline-block;
      align-items: center;
      color: rgba(#333, .3);
      white-space: nowrap;
      transition: all 0.20s ease-in-out;

      // span {
      //   display: none;
      // }
    }

    &:checked {
      + label {
        color: #333;
        font-weight: bold;

        // span {
        //   display: inline-flex;
        // }
      }
    }

    ~ .tab-content-holder {
      > .tab-content {
        display: none;
        padding: $tab-content-padding;
      }
    }
  }

  &.tabs-reversed {
    > .tab + label {
      margin-top: auto;
    }

    > .tab-content-holder {
      top: 0;
      bottom: $tab-height;

      > .tab-content {
        &:first-child {
          padding-top: 10px;
        }
      }
    }
  }

  &.tabs-json {
    background-color: $color-json-bg;

    > .tab {
      + label {
        color: rgba(white, .3);

        &:nth-of-type(1) {
          margin-left: 30px;
        }
      }

      &:checked + label {
        color: rgba(white, 1);
      }
    }

    .tab-content {
      padding: 0 !important;
    }
  }

  &.tabs-sheets,
  &.tabs-json {
    > .tab {
      + label {
        position: relative;

        &:nth-of-type(1) {
          margin-left: 30px;
        }

        &:after {
          content: '';
          width: 100%;
          height: 4px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: transparent;
        }
      }

      &:checked + label {
        // background-color: rgba($color-brand, .05);

        &:after {
          background-color: $color-brand;
        }
      }
    }
  }

  > .tab-content-holder {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $tab-height;
    bottom: 0;
    left: 0;
    right: 0;

    &.tab-content-holder-border {
      border-top: 1px solid $color-separator;
    }

    > .tab-content {
      flex: 1;
      height: calc(100% - #{$tab-content-padding * 2});
      display: flex;
      flex-direction: column;
      overflow: auto;

      > .tab-content-inner {
        width: 100%;
        flex: 1 0 $tab-content-min-height !important;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: $border-radius-md;
        background-color: $color-tab-spreadsheet;
        overflow: auto;
      }

      &.tab-content-spreadsheet {
        &:hover {
          .table-info-rename {
            opacity: 1;
          }
        }
      }

      &.tab-content-json {
        overflow: hidden;

        > .tab-content-inner {
          overflow: hidden;
        }

        .code-preview-holder {
          overflow: hidden;
        }
      }
    }
  }

  @for $i from 1 to 30 {
    .tab.tab-#{$i}:checked ~ .tab-content-holder > .tab-content-#{$i} { display: flex; }
  }
}



// table --------------------

.table-info {
  height: 30px;
  flex: none;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 15px;
  // opacity: 0;
  transition: all 0.20s ease-in-out;

  > * {
    transition: all 0.20s ease-in-out;
  }

  .spreadsheet-title {
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-info-rename {
    position: relative;
    opacity: 0;

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #B7C6D6;
      opacity: 0;
    }
  }

  &:not(.has-selection) {
    .table-info-rename {
      display: none;

      .text {
        color: $color-error !important;
      }

      .hotkey {
        background-color: $color-error !important;
      }

      .mouse-click {
        &:before {
          background-image: url('assets/icons/mouse-click-error.svg') !important;
        }
      }

      &:after {
        opacity: 1;
        background-color: $color-error !important;
      }
    }

    ~ table {
      pointer-events: none;
    }
  }

  span {
    color: darken($color-neutral, 10%);
  }

  .mouse-click {
    $icon-size: 20px;
    width: $icon-size;
    height: $icon-size;
    display: flex;

    &:before {
      content: '';
      width: $icon-size;
      height: $icon-size;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('assets/icons/mouse-click.svg');
    }
  }

  .combo-single {
    .mouse-click {
      &:before {
        background-image: url('assets/icons/mouse-click-brand.svg');
      }
    }
  }

  .hotkey {
    padding: 2px 4px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    border-radius: $border-radius-md;

    &:not(.hotkey-color) {
      background-color: #B7C6D6;
    }

    &.hotkey-color {
      background-color: $color-figma;
    }
  }
}

body.shift-pressed {
  table {
    th,
    td {
      &:hover {
        box-shadow: inset 0 0 0 4px $color-figma !important;
      }
    }
  }

  .table-info {
    .combo-single {
      .mouse-click {
        &:before {
          background-image: url('assets/icons/mouse-click.svg');
        }
      }
    }

    .combo-multi {
      .mouse-click {
        &:before {
          background-image: url('assets/icons/mouse-click-figma.svg');
        }
      }

      .hotkey {
        background-color: $color-figma;
      }
    }
  }
}

table {
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  // table-layout: fixed;
  table-layout: auto;

  &.selected-single {
    th,
    td {
      &.selected {
        box-shadow: inset 0 0 0 2px $color-brand !important;
        // background-color: lighten($color-brand, 40%) !important;
      }
    }

    .button-holder {
      &.selected {
        opacity: 1 !important;
        // filter: contrast(1.5) hue-rotate(255deg);

        button {
          &.random {
            &:before { background-image: url('assets/icons/reload-brand.svg'); }
          }

          &.random-save {
            &:before { background-image: url('assets/icons/sync-alt-brand.svg'); }
          }
        }
      }
    }
  }

  &.selected-multiple {
    th,
    td {
      &.selected {
        box-shadow: inset 0 0 0 2px $color-figma !important;
        // background-color: lighten($color-brand, 40%) !important;
      }
    }

    .button-holder {
      &.selected {
        opacity: 1 !important;
        // filter: contrast(1.5) hue-rotate(335deg);

        button {
          &.random {
            &:before { background-image: url('assets/icons/reload-figma.svg'); }
          }

          &.random-save {
            &:before { background-image: url('assets/icons/sync-alt-figma.svg'); }
          }
        }
      }
    }
  }

  th {
    font-size: 14px;

    &:hover {
      background: rgba(white, .3);
    }

    .cell-name-holder {
      max-width: calc(100% - 43px);
      margin-right: auto;
    }
  }

  td {
    font-size: 12px;
    background-color: white;
  }

  th,
  td {
    max-width: 160px;
    height: 30px;
    text-align: left;
    position: relative;
    border-radius: $border-radius-sm;
    cursor: pointer;
    box-shadow: 0 0 0 2px transparent;
    transition: all .15s ease-in-out !important;

    &.cell-empty {
      background-color: rgba(white, .5);

      .cell-name {
        color: rgba(#333, .3);
      }
    }

    &:hover {
      box-shadow: inset 0 0 0 2px $color-brand;
    }

    &.cell-count {
      width: 20px;
      color: $color-brand;
      font-weight: bold;
      padding: 0 10px;
      background-color: transparent !important;
      pointer-events: none;
    }

    .cell-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        .cell-actions {
          > * {
            opacity: 1;
          }
        }
      }
    }

    .cell-name-holder {
      width: 100%;
    }

    .cell-name {
      width: 100%;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      align-items: center;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      margin-right: auto;

      a {
        color: $color-figma;
        text-decoration: underline;
      }

      .preview-link {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .cell-actions {
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 10px;
      transition: all .20s ease-in-out;

      > * {
        opacity: 0;
      }

      > * + * {
        margin-left: 5px;
      }

      .button-holder {
        $btn-size: 14px;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        button {
          width: $btn-size;
          min-width: $btn-size;
          max-width: $btn-size;
          height: $btn-size;
          min-height: $btn-size;
          max-height: $btn-size;
          padding: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: $border-radius-sm;
          appearance: none;
          color: white;
          background-color: transparent;

          &:before {
            content: '';
            width: $btn-size;
            height: $btn-size;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          &.random {
            // background-color: $color-info;
            &:before { background-image: url('assets/icons/reload.svg'); }
          }

          &.random-save {
            // background-color: $color-success;
            &:before { background-image: url('assets/icons/sync-alt.svg'); }
          }
        }
      }
    }
  }
}


// input img --------------------

.g-sheets-logo {
  width: 30px;
  height: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;

  + input {
    padding-left: 30px;
  }
}



// section --------------------

.section {
  width: 100%;
  position: relative;
  flex: none;

  &.preview-section {
    flex: 1;
  }

  &:not(.section--no-pad-x) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:not(.section--no-pad-y) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.preview-section {
  flex: 1;
}



// modal --------------------

.modal-wrapper {
  z-index: 999999;
  display: none;

  .modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: modalFadeIn $modal-animation-time cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  .counter-center {
    width: 100vw;

    > * {
      &:first-child {
        text-align: right;
        margin-right: auto;
      }

      &:last-child {
        text-align: left;
        margin-left: auto;
      }

      &:not(.dash) {
        width: calc(50vw - 10px);
      }

      .dash {
        width: 20px;
        text-align: center;
      }
    }
  }

  .loading {
    $loading-height: 12px;
    $loading-gap: 1px;
    width: calc(100% - 40px);
    max-width: 400px;
    height: $loading-height;
    border-radius: 500rem;
    border: $loading-gap solid rgba(white, .5);
    position: relative;

    .loading-percentage {
      width: calc(0% - 2px);
      height: $loading-height - $loading-gap * 4;
      position: absolute;
      top: $loading-gap;
      left: $loading-gap;
      display: block;
      background-color: white;
      border-radius: inherit;
    }
  }

  .modal {
    width: 100vw;
    max-width: 320px;
    padding: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(50%);
    transform-origin: left center;
    // opacity: 0;
    animation: modalScaleUp $modal-animation-time cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    z-index: 20;

    &:not(.modal-hollow) {
      border-radius: $border-radius-lg;
      background-color: white;
      box-shadow: $shadow-lg;
    }

    &.modal-hollow {
      color: white;
    }
  }

  hr {
    width: calc(100% + 2 * 20px);
  }

  &.out {
    .modal-overlay {
      animation: modalFadeOut $modal-animation-time cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }

    .modal {
      animation: modalScaleDown $modal-animation-time cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }

  .modal-content {
    margin-top: 20px;

    .logo-img {
      width: 80px;
      height: 80px;
    }
  }
}



// checkbox --------------------

.check-sheet {
  appearance: none;

  + label {
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 500rem;
    background-color: $color-gray-medium;
  }

  &:checked {
    + label {
      background-color: $color-figma;
    }
  }
}



// steps --------------------

.steps {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  counter-reset: counter;
  overflow-x: auto;

  // > .step-spacer {
  //   width: 20px;
  //   min-width: 20px;
  //   margin-left: 0;
  // }

  &::-webkit-scrollbar {
    display: none;
  }

  .step {
    width: $step-img-size;
    min-width: $step-img-size;
    height: $step-img-size;
    min-height: $step-img-size;
    border-radius: $border-radius-xl;
    border: 1px solid $color-gray-medium;
    position: relative;
    counter-increment: counter;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: inherit;
    }

    &:after,
    &:before {
      height: 20px;
      display: flex;
      align-items: center;
      color: white;
      font-weight: bold;
      position: absolute;
      left: -10px;
      bottom: -10px;
    }

    &:after {
      content: counter(counter);
      width: 20px;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      border-radius: 50%;
    }

    &:before {
      content: attr(data-step);
      padding-left: 23px;
      padding-right: 8px;
      background-color: #34A853;
      font-size: 8px;
      border-radius: 500px;
    }
  }
}



// tooltip --------------------

.tippy-box,
.tippy-box .tippy-content {
  transition-duration: 0.20s;
}

.tippy-box {
  background: rgba(0, 0, 0, .7);
  backdrop-filter: saturate(140%) blur(10px);
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;

  &[data-placement^=top] > .tippy-arrow {
    bottom: -1px;
  }

  .tippy-content {
    text-align: center;
    padding: 4px 8px;
  }

  .tippy-arrow {
    color: rgba(0, 0, 0, .7);
  }

  .tooltip-rename {
    opacity: .7;
    font-size: 10px;
    text-transform: uppercase;
  }

  &[data-theme~='success'] {
    background-color: $color-brand;

    .tippy-arrow {
      color: $color-brand;
    }
  }

  &[data-theme~='error'] {
    background-color: $color-error-code;

    .tippy-arrow {
      color: $color-error-code;
    }
  }
}

// [tooltip] {
//   --tooltip-color: #333;

//   &.copied {
//     --tooltip-color: #{$color-brand};

//     &:after {
//       content: 'Copied';
//     }
//   }

//   position: relative;

//   &:before,
//   &:after {
//     text-transform: none;
//     font-size: .9em;
//     line-height: 1;
//     user-select: none;
//     pointer-events: none;
//     position: absolute;
//     display: block;
//     opacity: 0;
//     left: 50%;
//     transform: translate(-50%, -.5em);
//     transition: all .15s ease-in-out;
//   }

//   &:before {
//     content: '';
//     bottom: 100%;
//     border: 5px solid transparent;
//     border-bottom-width: 0;
//     border-top-color: var(--tooltip-color);
//     z-index: 1001;
//   }

//   &:after {
//     content: attr(tooltip);
//     text-align: center;
//     // min-width: 3em;
//     // max-width: 21em;
//     bottom: calc(100% + 5px);
//     font-family: 'SF Mono', monospace;
//     font-size: 12px;
//     font-weight: 600;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     padding: 4px 6px;
//     border-radius: $border-radius-sm;
//     box-shadow: $shadow-lg;
//     background: var(--tooltip-color);
//     color: white;
//     z-index: 1000;
//   }

//   &:hover {
//     &:before,
//     &:after {
//       opacity: 1;
//       transform: translate(-50%, 0);
//     }
//   }
// }



// image popup --------------------

.corner-resize {
  position: fixed;
  right: 1px;
  bottom: 2px;
  cursor: nwse-resize;

  &.hidden {
    display: none;
  }
}



// image popup --------------------

.img-tooltip {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0s ease-in-out, opacity 0.20s ease-in-out;
  z-index: 1000;
  pointer-events: none;

  img {
    width: 60px;
    display: block;
    object-fit: contain;
    border-radius: $border-radius-md;
    overflow: hidden;
    box-shadow: $shadow-lg;
  }
}



// accordion --------------------

.accordion {
  transition: all 0.20s ease-in-out;

  &.accordion-collapsed {
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }

  // &.accordion-expanded { max-height: 600px; }
}




// form-group --------------------

.form-group { position: relative; }
.form-group > *:not(:first-child):not(:last-child) { border-radius: 0; }
.form-group > *:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; }
.form-group > *:last-child { border-top-left-radius: 0; border-bottom-left-radius: 0; }



// slider --------------------

.slider {
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
  user-select: none;
  // cursor: pointer;
  cursor: default;

  // &.active {
  //   cursor: grabbing;
  // }

  .slider-item {
    min-height: $step-img-size;
    min-width: $step-img-size;
    margin: 0 10px;
    display: inline-flex;
  }
}



// json highlight --------------------

.json-preview {
  margin-left: 10px;
  align-items: center;
  display: inline-flex;
}

pre { background-color: $color-json-bg; color: $color-json-quotes; margin: 0; padding: 5px; font-family: monospace; font-weight: 600; border-radius: $border-radius-md; overflow: auto; }
.string { color: $color-json-string; vertical-align: middle; }
.number { color: $color-json-number; vertical-align: middle; }
.boolean { color: $color-json-boolean; vertical-align: middle; }
.null { color: $color-json-null; vertical-align: middle; }
.key { color: $color-json-key; vertical-align: middle; }
.preview-link { color: $color-json-string; text-decoration: underline; padding: 0; min-height: auto; vertical-align: middle; }
.preview-link-alt { color: $color-figma; vertical-align: middle; }

textarea.code-to-copy {
  height: 0;
  position: absolute;
  opacity: .01;
  z-index: -1;
}

.icon-color {
  display: inline-flex;
  align-items: center;

  .color-square {
    width: 14px;
    height: 14px;
    display: inline-flex;
    margin-right: 2px;
    border-radius: 2px;
    border: 0.5px solid rgb(255, 255, 255, .3);
  }

  .color-square-after {
    line-height: 16px;
  }
}

.icon-visible,
.icon-invisible {
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  padding: 0px 3px;
  color: #333 !important;
  border-radius: 5px;
}

.icon-visible {
  background-color: $color-success-code;

  &:before { background-image: url('assets/icons/visible.svg'); }
}

.icon-invisible {
  background-color: $color-error-code;

  &:before { background-image: url('assets/icons/hidden.svg'); }
}

.icon-visible,
.icon-invisible {
  &:before {
    content: '';
    width: 14px;
    height: 12px;
    padding: 3px;
    display: inline-flex;
    font-size: 20px;
    margin-right: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}



// specific --------------------

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 40px rgba(black, 0.3);
}

.count {
  min-width: 38px;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  border-radius: 500px;
  cursor: default;

  span {
    z-index: 2;
  }

  &[class*="-success"] {
    .total-layer-changes {
      background-color: rgba($color-success, .3);
      color: darken($color-success, 10%);
      // border-color: $color-success;
    }
  }

  &[class*="-warning"] {
    .total-layer-changes {
      background-color: rgba($color-warning, .3);
      color: darken($color-warning, 10%);
      // border-color: $color-warning;
    }
  }

  &[class*="-error"] {
    .total-layer-changes {
      background-color: rgba($color-error, .3);
      color: darken($color-error, 10%);
      // border-color: $color-error;
    }
  }

  .total-layer-changes {
    padding: 0 10px;
    padding-left: calc(50% + 6px);
    margin-left: 50%;
    background-color: transparent;
    color: rgba(white, .8);
    line-height: 20px;
    font-size: 14px;
    // border: 2px solid #5FD3A2;
    border-left: none;
    border-top-right-radius: 500rem;
    border-bottom-right-radius: 500rem;
    position: absolute;
    left: 0;
    white-space: nowrap;
    cursor: default;
    z-index: 1;

    // &:before {
    //   content: 'L';
    //   margin-right: 5px;
    //   opacity: .65;
    // }
  }
}

.nodes-selected-info {
  &:not(.hidden) {
    order: 999;
    margin-left: 10px;

    + .layers-info {
      margin-right: 10px;
      align-items: flex-end !important;

      > * {
        align-items: flex-end !important;
      }
    }
  }
}



// helpers --------------------

.transition-fix { transition: $transition, color 0s linear; }

.bg-brand { background-color: $color-brand; }
.bg-neutral { background-color: rgba($color-neutral, 0.1); }
.bg-info { background-color: rgba($color-info, 0.1); }
.bg-success { background-color: rgba($color-success, 0.1); }
.bg-warning { background-color: rgba($color-warning, 0.1); }
.bg-error { background-color: rgba($color-error, 0.1); }

.bg-neutral-full { background-color: $color-neutral; }
.bg-info-full { background-color: $color-info; }
.bg-success-full { background-color: $color-success; }
.bg-warning-full { background-color: $color-warning; }
.bg-error-full { background-color: $color-error; }

.text-brand { color: $color-brand; }
.text-figma { color: $color-figma; }
.text-light { color: white; }
.text-light-dim { color: rgba(white, .5); }
.text-dark { color: $color-text; }
.text-neutral { color: $color-neutral; }
.text-neutral-2 { color: lighten($color-text, 10%); }
.text-info { color: $color-info; }
.text-success { color: $color-success; }
.text-warning { color: $color-warning; }
.text-error { color: $color-error; }

hr {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid $color-separator;

  &.sep-alt {
    border-color: darken($color-separator, 10%);
  }
}



// utils --------------------

.p-0 { padding: 0; }
.px { padding-left: 20px; padding-right: 20px; }

.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }

.m-0 { margin: 0; }

.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mt-3 { margin-top: 15px; }
.mt-4 { margin-top: 20px; }
.mt-5 { margin-top: 25px; }
.mt-6 { margin-top: 30px; }
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 15px; }
.mb-4 { margin-bottom: 20px; }
.mb-5 { margin-bottom: 25px; }
.mb-6 { margin-bottom: 30px; }

.flex-1 { flex: 1; }
.flex-none { flex: none; }

.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-col { flex-direction: column; }
.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-stretch { align-items: stretch; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

.space-x > * + * { margin-left: 20px; }
.space-x-xs > * + * { margin-left: 5px; }
.space-x-sm > * + * { margin-left: 10px; }
.space-x-lg > * + * { margin-left: 40px; }
.space-y > * + * { margin-top: 20px; }
.space-y-xs > * + * { margin-top: 5px; }
.space-y-sm > * + * { margin-top: 10px; }
.space-y-lg > * + * { margin-top: 40px; }

.font-bold { font-weight: bold; }

.text-center { text-align: center; }

.text-base { font-size: 14px; }
.text-sm { font-size: 10px; }
.text-lg { font-size: 20px; }
.text-xl { font-size: 30px; }

.relative { position: relative; }
.absolute { position: absolute; }

.hidden { display: none; }

.opacity-50 { opacity: 0.5; }

.w-full { width: 100%; }
.h-full { width: 100%; }

.min-h-xxs { min-height: 50px; }
.min-h-xs { min-height: 100px; }
.min-h-sm { min-height: 150px; }
.min-h-md { min-height: 200px; }

.overflow-auto { overflow: auto; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-auto { overflow: hidden; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-hidden { overflow-y: hidden; }

.overflow-hide-scrollbar {
  &::-webkit-scrollbar {
    display: none !important;
  }
}



// animations --------------------

@keyframes rotateAnim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes modalScaleUp {
  0% { transform: scale(.8) translateX(-50%) translateY(50%); opacity: 0; }
  100% { transform: scale(1) translateX(-50%) translateY(-50%); opacity: 1; }
}

@keyframes modalScaleDown {
  0% { transform: scale(1) translateX(-50%) translateY(-50%); opacity: 1; }
  100% { transform: scale(.8) translateX(-50%) translateY(50%); opacity: 0; }
}

@keyframes modalFadeIn {
  0% { background: rgba(#333, .0); backdrop-filter: blur(0px); }
  100% { background: rgba(#333, .5); backdrop-filter: blur(5px); }
}

@keyframes modalFadeOut {
  0% { background: rgba(#333, .5); backdrop-filter: blur(5px); }
  100% { background: rgba(#333, .0); backdrop-filter: blur(0px); }
}
